<div id='sessions_modal' class='hidden'>
  <h1>Login</h1>

  <%= form_for :sessions, url:'/login12345678910' do |f| %>

  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  <%= f.submit "Submit" %>

<% end %>
</div>