#post_modal {
  text-align: center;
  #close_post {
    color: black;
    background-color: #E5FCC2 ;
    color: #547980;
    font-size: 16px;
    margin: 0 0 20px 0;
  }
}
.post-form {
  color: white;
  text-align: center;
  width: 50%;
  opacity: 1;
  background-color:#547980;
  margin: 6vh 25%;
  h1 {
    font-weight: 700;
    padding: 5px;
    color: #E5FCC2;
    border-radius: 10px;
  }
  .top {
    padding-top: 30px;
  }

}
.text {
  text-align: center;
  height: 5vh;
  width: 80%;
  margin: 1vh 10%;
  display: block;
  font-size: 18px;
}
.text-area {
  height: 10vh;
  width: 80%;
  margin: 2vh 10% 5vh 10%;
  display: block;
  font-size: 18px;
}
.submit {
  font-size: 25px;
  border-style: none;
  padding: 8px 30px 5px 30px;
  color: black;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 3vh;
}